*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

form{
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

span{
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
}

li{
    width: 95%;
    height: auto;
    background-color: rgb(165, 213, 241);
    border: 0px solid black;
    margin:7px 0px 7px 20px;
}

li:hover{
    box-shadow: 7px 8px 25px -7px rgba(0,0,0,0.44);
    background-color:  rgb(152, 194, 219);
}

h2,h3,p,span{
    margin-left: 10px;
}